<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Produkty</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<section>
		<div class="jumbotron">
			<div class="container">
				<h1>Produkty</h1>
				<p>Wszystkie produkty dostepne w naszym sklepie</p>
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3" style="padding-bottom: 15px" th:each="products : ${product}">
				<div class="thumbnail">
					<div class="caption">
						<h3 th:text="${products.name}"></h3>
						<p th:text="'Identyfikator : '+${products.productId}"></p>
						<p th:text="${products.description}"></p>
						<p th:text="${products.unitPrice}+' PLN'"></p>
						<a th:href="@{/products/product(id=${products.productId})}" class="btn btn-primary">Szczegóły</a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>